name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Pytest - Calculator Tests
      id: pytest-calculator-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Pytest - Calculator Tests
        setup-command: pip install pytest
        command: cd 0_intro/01_hello && pytest test_hello.py -v
        timeout: 10
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        PYTEST-CALCULATOR-TESTS_RESULTS: "${{steps.pytest-calculator-tests.outputs.result}}"
      with:
        runners: pytest-calculator-tests
